/* tag styling */

a.tag, .tag.youtube, .tag.icon-text {
    border-radius: 8px;
    border-style: solid;
    border-width: 0.5px;
}

.tag.icon-text {
	vertical-align: bottom;
}

/* recipe styling */

.strike {
    /* when item is clicked, decorate the text */
    text-decoration: line-through;
}

/* ingredient/direction subcomponent links */

a.title.is-5 {
    color: #485fc7;
}

/* recipe card listing box */

.recipe-card {
    background-color: transparent;
}

.recipe-card .box-summary, .search-result-summary {
    /* wrap long summaries */
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.recipe-card .box-summary {
    -webkit-line-clamp: 2;
}

.recipe-card.favourite {
    border-color: hsl(348, 100%, 61%);
    border-width: 0.5px;
    border-style: solid;
}

/* thumbnail images */

.image .thumbnail {
    /* make sure bigger pictures are squared */
    height: inherit;
    object-fit: cover;
    width: inherit;
}

.recipe-card .image, .recipe-page .image, .search-result .image {
    flex-shrink: 0;
    margin-right: 0.5em;
}

/* recipe search results */

.search-results {
    z-index: 6;
}

.search-results {
/*    margin-left: 2.0em;*/
/*    margin-right: 2.0em;*/
    position: absolute;
}

.search-results:empty {
    padding: 0;
}

.search-result:nth-child(even) {
}

.search-result {
    background-color: white;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    border-color: hsl(171, 100%, 41%);
    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
    margin-top: 0.4em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 0.5em;
    padding-top: 0.2em;
}

.search-result:hover {
}

.search-result-title {
}

.search-result-summary {
    -webkit-line-clamp: 1;
}

.search-result .image {
}

/* general styling */

.blurred-ignore {
    filter: blur(3px);
    transition: all 0.25s linear;
}
