{{ define "main" }}
<div class="section">
	<article class="container">
		<header>
			<div class="is-flex">
				<figure class="image is-96x96" style="margin-right: 0.5em;">
					<img alt="Thumbnail" class="is-rounded" src="thumbnail.jpg" />
				</figure>
				<div>
					<p class="title is-1">{{ .Title }}</p>
					<p class="subtitle is-6">{{ .Summary }}</p>
				</div>
			</div>
			<div style="margin-top: 1em;">

				{{ if $time := .Params.time }}
					<span class="tag is-primary is-light icon-text">
						<span class="icon"><i class="fas fa-clock"></i></span>
						<span>{{ $time }}</span>
					</span>
				{{ end }}

				{{ if $servings := .Params.servings }}
					<span class="tag is-primary is-light icon-text">
						<span class="icon"><i class="fas fa-users"></i></span>
						<span>{{ $servings }}</span>
					</span>
				{{ end }}

				{{ range .Params.Tags }}
					<a class="tag" href="/tags/{{ . }}">
						<span class="icon-text">
							<span class="icon"><i class="fas fa-tag"></i></span>
							<span>{{ . }}</span>
						</span>
					</a>
				{{ end }}
			</div>
		</header>
		<div class="content" style="margin-top: 1em;">
			<p class="title is-3">Ingredients</p>
			{{ $has_subcomponents := "no" }}
			{{ if eq (printf "%T" .Params.ingredients) "[]interface {}" }} {{ $has_subcomponents = "yes" }} {{ end }}

			{{ if eq $has_subcomponents "no" }}
				<ul itemprop="ingredients">
					{{ range $ingredient := .Params.ingredients }}
						<li itemprop="recipeIngredient">{{ $ingredient }}</li>
					{{ end }}
				</ul>
			{{ else }}
				{{ range $subcomponent := .Params.ingredients }}
					{{ range $name,$ingredients := $subcomponent }}
						<p class="title is-5">{{ $name }}</p>
						<ul itemprop="ingredients">
							{{ range $ingredient := $ingredients }}
								<li itemprop="recipeIngredient">{{ $ingredient }}</li>
							{{ end }}
						</ul>
					{{ end }}
				{{ end}}
			{{ end }}

			<p class="title is-3">Directions</p>
			{{ $has_subcomponents := "no" }}
			{{ if eq (printf "%T" .Params.directions) "[]interface {}" }} {{ $has_subcomponents = "yes" }} {{ end }}
			{{ if eq $has_subcomponents "no" }}
				<ul itemprop="directions">
					{{ range $direction := .Params.directions }}
						<li itemprop="recipeDirection">{{ $direction }}</li>
					{{ end }}
				</ul>
			{{ else }}
				{{ range $subcomponent := .Params.directions }}
					{{ range $name,$directions := $subcomponent }}
						<p class="title is-5">{{ $name }}</p>
						<ul itemprop="directions">
							{{ range $direction := $directions }}
								<li itemprop="recipeDirection">{{ $direction }}</li>
							{{ end }}
						</ul>
					{{ end }}
				{{ end}}
			{{ end }}

			{{ with .Content }}
				<div class="notification is-info is-light">{{ . }}</div>
			{{ end }}
		</div>
	</article>
</div>
{{ end }}
