{{ define "main" }}
DEFAULT SINGLE
<div class="section">
  <article class="container">
    <header>
      <div class="is-flex">
        <figure class="image is-96x96" style="margin-right: 0.5em;">
          <img alt="Thumbnail" class="is-rounded" src="thumbnail.jpg" />
        </figure>
        <div>
          <h1 class="title is-1">
            {{ .Title }}
          </h1>
          <h6 class="subtitle is-6">
            {{ .Summary }}
          </h6>
        </div>
      </div>
      <div style="margin-top: 1em;">
        <span class="tag is-primary is-light">{{ .Params.Time }}</span>
        {{ range .Params.Tags }}
        <a class="tag" href="/tags/{{ . }}">{{ . }}</a>
        {{ end }}
      </div>
    </header>
    <div class="content" style="margin-top: 1em;">
      <h2>Ingredients</h2>
      <ul itemprop="ingredients">
        {{ range $ingredient := .Params.ingredients}}
          <li itemprop="recipeIngredient">{{ $ingredient }}</li>
        {{ end }}
      </ul>
      <h2>Directions</h2>
      <ul itemprop="directions">
        {{ range $direction := .Params.directions}}
          <li itemprop="recipeStep" onclick="this.classList.toggle('strike')">{{ $direction }}</li>
        {{ end }}
      </ul>
    </div>
  </article>
</div>
{{ end }}
