<a class="box" href="{{ .Permalink }}" aria-label="{{ .Title }}">
	<div class="is-flex">
		<figure class="image is-48x48" style="margin-right: 0.5em;">
			<img alt="Thumbnail" class="is-rounded" src="{{ .Permalink }}/thumbnail.jpg" onerror="this.onerror=null; this.src='/img/default-thumbnail.jpg'"/>
		</figure>
		<div>
			<div>{{ .Title }}</div>
			{{ with .Params.summary }}<small class="has-text-grey">{{ truncate 60 "..." . }}</small>{{ end }}
		</div>
	</div>
	<div style="margin-top: 0.5em;">
		{{ with .Params.time }}<span class="tag is-primary is-light icon-text"><span class="icon"><i class="fas fa-clock"></i></span><span>{{ . }}</span></span>{{ end }}
		{{ range .Params.Tags }}<span class="tag">{{ . }}</span>{{ end }}
	</div>
</a>
