{{ $is_favourite := "no" }}
{{ if in .Params.Tags "favourite" }}{{ $is_favourite = "yes" }} {{ end }}
{{ $favourite_class := "" }}{{ if eq $is_favourite "yes" }}{{ $favourite_class = "favourite" }}{{ end }}
{{ $thumbnail := partial "get_thumbnail" (dict "context" .) }}

<a class="recipe-card box {{ $favourite_class }}" href="{{ .Permalink }}" aria-label="{{ .Title }}">
	<div class="is-flex">
		<figure class="image is-48x48">
			<img alt="Thumbnail" class="thumbnail is-rounded" src="{{ $thumbnail }}" onerror="this.onerror=null; this.src='/img/default-thumbnail.jpeg'"/>
		</figure>
		<div>
			<div class="is-content box-title">{{ .Title }}</div>
			{{ with .Params.summary }}<small class="box-summary has-text-grey">{{ . }}</small>{{ end }}
		</div>
	</div>

	<div style="margin-top: 0.5em;">
		{{ with .Params.time }}<span class="tag time is-primary is-light icon-text"><span class="icon"><i class="fas fa-clock"></i></span><span>{{ . }}</span></span>{{ end }}
		{{ range $tag := .Params.Tags }}
			{{ $favourite_tag := "" }}
			{{ if ne $tag "favourite"}}<span class="tag">{{ $tag }}</span>{{ end }}
		{{ end }}
	</div>
</a>
