<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		{{ if eq $.Site.Title $.Page.Title }}
			<div class="navbar-item">
				<a class="has-text-light" href="http://github.com/{{ .Site.Params.github }}/issues/new?template=add-recipe.yaml&title=Submit+a+new+recipe+to+AiNSLEY" target="_blank">{{ $.Site.Title }}</a>
			</div>
		{{ else }}
			<a class="navbar-item has-text-light" href="/"><span class="icon"><i class="fas fa-home"></i></span></a>
			<div class="navbar-item has-text-light">{{ $.Page.Title }}</div>
		{{ end }}
	</div>
</nav>
