{{ define "main" }}
<section class="section">
	<div id='search' class="container search">
		<div class="columns is-centered" style="margin-top: -2em; margin-bottom: 0em">
			<div class="column">
				<div class="search-input">
					<form id="search-form" class="search-form" action="#" method="post" accept-charset="UTF-8" role="search">
						<div class="field">
							<p class="control has-icons-left has-icons-right">
								<input id="query" name="query" class="search-text input is-rounded is-primary has-text-dark" type="search" placeholder="big kahuna burger" maxlength="128" autocomplete="off">
								<span class="icon is-small is-left"><i class="fas fa-search"></i></span>
							</p>
						</div>
					</form>
				</div>

				<div id="search-results" class="search-results"></div>
				<template>
					<article class="search-result list-view">
						<a class="mb--xxs is-content has-text-dark" href="#">TEXT HERE</a>
					</article>
				</template>
			</div>
		</div>
	</div>
	
	<!--  -->

	<div class="container" style="margin-top: 1em; margin-bottom: 0em">
		<div class="taxonomies columns is-centered">
			<div class="column">
				{{ range .Site.Taxonomies.tags }}
					<a class="tag" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
				{{ end }}
			</div>
		</div>
	</div>

	<!--  -->

	<div class="container recipe-list" style="margin-top: 1em; margin-bottom: 0em">
		<div class="columns is-centered" style="margin-top: 0em; margin-bottom: 0em">
			<div class="column">
				{{ range $index, $page := .Site.RegularPages }}
					{{ if eq (mod $index 4) 0 }}{{ partial "box.html" $page }}{{ end }}
				{{ end }}
			</div>
			<div class="column">
				{{ range $index, $page := .Site.RegularPages }}
					{{ if eq (mod $index 4) 1 }}{{ partial "box.html" $page }}{{ end }}
				{{ end }}
			</div>
			<div class="column">
				{{ range $index, $page := .Site.RegularPages }}
					{{ if eq (mod $index 4) 2 }}{{ partial "box.html" $page }}{{ end }}
				{{ end }}
			</div>
			<div class="column">
				{{ range $index, $page := .Site.RegularPages }}
					{{ if eq (mod $index 4) 3 }}{{ partial "box.html" $page }}{{ end }}
				{{ end }}
			</div>
		</div>
	</div>

	<!-- add button to go to ainsley on github -->
	<div class="content has-text-right" style="margin-top: 1em; margin-bottom: 0em">
		<a class="tag has-background-info-light is-size-7" href="http://github.com/{{ .Site.Params.github }}" target="_blank">
			<span class="icon"><i class="fab fa-github"></i></span>
			<span>AiNSLEY on GitHub</span>
		</a>
	</div>
</section>
{{ end }}
